{% extends "base.html" %}
{% load static %}

{% block css %}
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 3px solid #999999;
            padding: 8px;
            text-align: justify;
        }
    </style>
{% endblock css %}

{% block section %}
    <section class="ftco-section ftco-animate">
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>№</th>
                        <th>ФИО студента</th>
                        <th>Направление</th>
                        <th>Дата рождения</th>
                        <th>№ заявления</th>
                        <th>Бюджет/Внебюджет</th>
                        <th>Примечания</th>
                    </tr>
                </thead>

                <tbody>

                    {% for s in students %}
                        {% if s.is_paid == True %}
                        <tr>
                            <td>{{ s.id }}</td>
                            <td>{{ s.last_name }} {{ s.first_name }} {{ s.surname }}</td>
                            <td>{% if s.curse %}{{ s.curse }}{% else %}Не записан{% endif %} </td>
                            <td>{{ s.birth_date }}</td>
                            <td>{{ s.id }}</td>
                            <td>{{ s.curse.edu_form }}</td>
                            <td>{% if s.description %}{{ s.description }}{% else %}Нет примечаний{% endif %}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}

                </tbody>
            </table>

            <div class="col-md-8">

                <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
					<li class="ftco-animate"><a href="#"><span class="icon-table"></span></a></li>
				</ul>

            </div>

        </div>
    </section>
{% endblock section %}

